# Build results
[Bb]in/
[Oo]bj/

# JetBrains Rider
.idea/
*.sln.DotSettings.user

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.directory